.name_area {
  grid-area: name;
}

.tools_side {
  grid-area: toolkit;
}

.social_side {
  grid-area: social;
}

.main {
  grid-area: main;
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "name"
    "toolkit"
    "main"
    "social"
    "footer";
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header header"
      "social name   name"
      "social main   toolkit"
      "social main   toolkit"
      "footer footer footer";
  }
}
