.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: main;
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.wrapper {
  display: grid;
  gap: 5rem;
  grid-template-areas:
    "header"
    "name"
    "toolkit"
    "main"
    "social"
    "footer";
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 9fr 2fr;
    grid-template-areas:
      "header header header"
      "name name   name"
      "... main   toolkit"
      "... main   toolkit"
      "footer footer footer";
  }
}
