.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header ul {
  list-style: none;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #1a1c20;
}

.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbfbfd;
  padding: 0 2rem;
}

.logo {
  font-size: 2rem;
  color: var(--blue);
  font-weight: bold;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin-left: 3rem;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: #cecece;
}

.links {
  display: flex;
  flex-direction: row;
}

@media (max-width: 700px) {
  .hide_items {
    display: none;
  }
}

@media (min-width: 700px) {
  .hide_icon {
    display: none;
  }
}
