.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  height: 25rem;
}

.cardFooter {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.imageContainer > span {
  transition: all 0.3s;
  border-radius: 10px;
}

.imageContainer > span:hover {
  transform: scale(1.08);
}

.links {
  display: flex;
}

.links > a > svg {
  height: 1.7rem;
  width: 1.7rem;
  margin: 0.2rem;
  transition: all 0.3s;
}

.links > a > svg:hover {
  transform: scale(1.3);
}

@media (min-width: 650px) {
  .card {
    width: 38vw;
    height: 25rem;
  }
}

@media (min-width: 900px) {
  .card {
    width: 32vw;
    height: 25rem;
  }
}
