.card {
  padding: 1rem;
  box-shadow: 0 2px 8px var(--color-card-shadow);
  border-radius: 14px;
  background-color: var(--color-card-background);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 86vw;
  height: auto;
}

.card h3 {
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem 0 0.5rem 0;
}

.card p {
  font-size: 0.9rem;
  line-height: 1.7rem;
  margin-bottom: 2rem;
}

.cardFooter > span {
  color: var(--color-card-footer-text);
  font-size: 0.7rem;
}

.cardFooter {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.imageContainer > span {
  transition: all 0.3s;
  border-radius: 10px;
}

.imageContainer > span:hover {
  transform: scale(1.08);
}

.links {
  display: flex;
}

.links > a > svg {
  height: 1.7rem;
  width: 1.7rem;
  margin: 0.2rem;
  transition: all 0.3s;
}

.links > a > svg:hover {
  transform: scale(1.3);
}

@media (min-width: 650px) {
  .card {
    width: 38vw;
  }
}

@media (min-width: 900px) {
  .card {
    width: 32vw;
  }
  .card h3 {
    font-size: 1.3rem;
  }

  .card p {
    font-size: 1.1rem;
  }

  .cardFooter > span {
    font-size: 0.9rem;
  }
}

@media (min-width: 1280px) {
  .card {
    width: 25vw;
  }
}
