.button {
  position: relative;
  font: inherit;
  background-color: #240370;
  color: white;
  border: 2px solid #240370;
  padding: 0.8rem 1.8rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.button:hover,
.button:active {
  background-color: #33059e;
  border-color: #33059e;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: #ccc;
  color: #464646;
  border-color: #ccc;
  cursor: not-allowed;
}

.buttonText {
  transition: all 0.2s;
}

.button.pending:after {
  position: absolute;
  color: transparent;
  content: "";
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  border-left-color: transparent;
  animation: spin 1s ease infinite;
}

.button.success {
  background-color: #8bc34a;
  border-color: #8bc34a;
}

.button.success:hover,
.button.success:active {
  background-color: #8bc34a;
  border-color: #8bc34a;
}

.button.success:after {
  position: absolute;
  content: "";
  width: 26px;
  height: 13px;
  border: 4px solid #fefefe;
  border-right: 0;
  border-top: 0;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
  transform: translate(-50%, -50%) rotate(0deg) scale(0);
  -webkit-animation: success ease-in 0.15s forwards;
  animation: success ease-in 0.15s forwards;
}

.button.error {
  position: relative;
  -webkit-animation: vibrate ease-in 0.5s forwards;
  animation: vibrate ease-in 0.5s forwards;
  background-color: #f44336;
  border-color: #f44336;
}

.button.error:before {
  color: #fff;
  position: absolute;
  content: "!";
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-animation: error ease-in 0.5s forwards;
  animation: error ease-in 0.5s forwards;
}

.button.pending .buttonText,
.button.success .buttonText,
.button.error .buttonText {
  visibility: hidden;
  opacity: 0;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0turn);
  }

  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes success {
  from {
    transform: translate(-50%, -50%) rotate(0) scale(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
}

@-webkit-keyframes success {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
}

@keyframes error {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes error {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes vibrate {
  0%,
  30%,
  60%,
  85%,
  100% {
    left: 0;
  }
  10%,
  40%,
  90%,
  70% {
    left: -2px;
  }
  20%,
  50%,
  80%,
  95% {
    left: 2px;
  }
}

@media (min-width: 900px) {
  .button.success:after {
    width: 30px;
    height: 15px;
  }
  .button {
    font-size: 1.1rem;
  }
}
