.main {
  display: grid;
  grid-template-areas:
    "name"
    "toolkit"
    "projects"
    "contact"
    "social";
}

@media (min-width: 900px) {
  .main {
    grid-template-columns: 11fr 1fr;
    grid-template-areas:
      "name      name"
      "projects  toolkit"
      "contact   contact";
  }
}
