.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  grid-area: contact;
  min-height: 38rem;
  height: 80vh;
  flex-direction: column;
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 94%, 0 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 94%, 0 100%);
}

.contact > span {
  z-index: -1;
}

.contact > h2 {
  color: var(--color-contact-title);
  text-indent: 0.05em;
  letter-spacing: 0.05em;
  font-size: 1.6rem;
}

.controlGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
}

.controlGroup .formControl {
  min-width: 15rem;
  flex: 1;
}

.formControl {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formControl input {
  display: block;
}

.formControl input,
.formControl textarea,
.formControl select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--color-background);
  border: 2px solid var(--color-background);
  width: 80vw;
  font-size: 0.9rem;
}

.formControl textarea:focus,
.formControl input:focus {
  outline: none;
  border: 2px solid var(--color-input-focus-border);
  background-color: var(--color-input-focus);
}

.formActions {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.invalid textarea,
.invalid input {
  border: 2px solid var(--color-invalid-border);
  background-color: var(--color-invalid);
}

.invalid textarea:focus,
.invalid input:focus {
  border-color: var(--color-invalid-focus-border);
  background-color: var(--color-invalid-focus);
}

@media (min-width: 650px) {
  .contact {
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);
  }

  .formControl input,
  .formControl textarea,
  .formControl select {
    width: 30vw;
  }
}

@media (min-width: 900px) {
  .formControl input,
  .formControl textarea,
  .formControl select {
    font-size: 1.1rem;
  }

  .contact > h2 {
    font-size: 2rem;
  }
}
