.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  grid-area: contact;
  height: 80vh;
  flex-direction: column;
  background-image: url(/contact-light.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 94%, 0 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 94%, 0 100%);
}

.contact > h2 {
  color: #fbfbfd;
  letter-spacing: 0.1em;
}

.controlGroup {
  display: flex;
  column-gap: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.controlGroup .formControl {
  min-width: 15rem;
  flex: 1;
}

.formControl {
  margin-bottom: 1rem;
}

.formControl input {
  display: block;
}

.formControl input,
.formControl textarea,
.formControl select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 2px solid white;
  width: 20rem;
  max-width: 100%;
  font-size: 0.9rem;
}

.formControl textarea:focus,
.formControl input:focus {
  outline: none;
  border: 2px solid #240370;
  background-color: #e0d4fd;
}

.formActions {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.invalid textarea,
.invalid input {
  border: 2px solid #e22121;
  background-color: #fddddd;
}

.invalid textarea:focus,
.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

@media (min-width: 650px) {
  .contact {
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);
  }
}

@media (min-width: 900px) {
  .formControl input,
  .formControl textarea,
  .formControl select {
    font-size: 1.1rem;
  }
}
