.name_area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5vw;
  grid-area: name;
  position: relative;
}

.image {
  border-radius: 100%;
}

.image_div {
  width: 70%;
  height: 100%;
}

.text {
  margin-top: 4rem;
  text-align: center;
}

.text p {
  margin-bottom: 2vw;
}

.my_name {
  color: var(--blue);
  font-size: 3.5vw;
}

.name {
  font-size: 6vw;
  font-weight: bold;
}

.paragraph {
  font-size: 3.5vw;
}

@media (min-width: 700px) {
  .name_area {
    flex-direction: row;
    padding-left: 8vw;
  }

  .image_div {
    width: 50%;
    height: 100%;
  }

  .text {
    margin: 0 0 0 5%;
    text-align: left;
  }

  .text p {
    margin-bottom: 1vw;
  }
}
