.nameArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5vw;
  grid-area: name;
  position: relative;
  margin-top: 5rem;
}

.image {
  border-radius: 100%;
}

.imageDiv {
  width: 70%;
  height: 100%;
}

.text {
  margin-top: 4rem;
  text-align: center;
}

.text p {
  margin-bottom: 2vw;
}

.myName {
  color: var(--blue);
  font-size: 3vw;
}

.name {
  font-size: 5vw;
  font-weight: bold;
}

.paragraph {
  font-size: 3vw;
}

@media (min-width: 700px) {
  .nameArea {
    flex-direction: row;
    padding-left: 8vw;
  }

  .imageDiv {
    width: 50%;
    height: 100%;
  }

  .text {
    margin: 0 0 0 5%;
    text-align: left;
  }

  .text p {
    margin-bottom: 1vw;
  }
}
