.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  grid-area: projects;
}

.cardsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 650px) {
  .cardsWrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 900px) {
  .projects {
    margin-left: 3vw;
  }
}
