.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  grid-area: projects;
}

.cards_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1vw;
}

@media (min-width: 650px) {
  .cards_wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
