.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 1rem;
  min-height: 80vh;
}

.wrapper h2 {
  color: var(--color-primary);
  font-size: 1.7rem;
  letter-spacing: 0.05rem;
  text-indent: 0.05em;
  margin: 0;
}

.resume {
  width: 90vw;
  height: 128vw;
  max-width: 52rem;
  max-height: 71rem;
  margin: 3rem;
}

.resume p {
  text-align: center;
}

.resume p a {
  color: var(--color-primary);
}

@media (min-width: 650px) {
  .resume {
    height: 125vw;
  }
}

@media (min-width: 925px) {
  .resume {
    height: 71rem;
  }

  .wrapper h2 {
    font-size: 2rem;
  }
}
