.social {
  grid-area: social;
}

.iconsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.iconsWrapper > * {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 2em;
  margin: 1.5rem;
  transition: all 0.3s;
}

.iconsWrapper > *:hover {
  transform: scale(1.3);
}

@media (min-width: 900px) {
  .social {
    position: fixed;
    bottom: 0;
  }

  .iconsWrapper {
    flex-direction: column;
  }

  .iconsWrapper::after {
    content: "";
    display: block;
    width: 2px;
    height: 90px;
    margin: 0 auto;
    background-color: #ccc;
  }
}
