.social {
  grid-area: social;
}

.icons_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.icons_wrapper > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2rem;
  width: 2rem;
  margin: 1.5rem;
}

@media (min-width: 900px) {
  .social {
    position: fixed;
    bottom: 0;
  }

  .icons_wrapper {
    flex-direction: column;
  }
}
