.toolkit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: toolkit;
}

.icons_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
