.toolkit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: toolkit;
  margin-top: 5rem;
}

.iconsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.title {
  background-image: linear-gradient(
    0deg,
    var(--color-gradient),
    var(--color-primary)
  );
  background-size: 10px 10px;
  background-repeat: repeat-x;
  background-position: bottom;
}

.iconsWrapper > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4rem;
  width: 4rem;
  font-size: 0.8rem;
  margin: 1.5rem;
}

@media (min-width: 900px) {
  .toolkit {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    width: 9rem;
  }

  .title {
    transform: rotate(90deg);
    margin: 0 0 0 -3rem;
    font-size: 1.5rem;
    font-weight: 200;
  }

  .iconsWrapper {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .iconsWrapper > * {
    margin: 4rem 0 4rem 0;
    height: 4rem;
    width: 4rem;
    font-size: 0.9rem;
  }

  .iconsWrapper figcaption {
    opacity: 0;
    transform: translateY(2rem);
    transition: all 400ms;
  }

  .iconsWrapper figure:hover figcaption {
    opacity: 100;
    transform: translateY(0);
  }
}

@media (min-width: 1280px) {
  .iconsWrapper > * {
    height: 4.5rem;
    width: 4.5rem;
  }

  .title {
    margin: 0 0 0 -2rem;
  }
  .toolkit {
    margin-right: 1vw;
  }
}
