@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: Source Code Pro, monospace;
  background-color: #fbfbfd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  margin-bottom: 2rem;
  letter-spacing: 0.4em;
  text-indent: 0.4em;
  font-size: 1.4rem;
}

:root {
  --blue: #2e86de;
  --black: #000;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #599adb;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}
